<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common::head"></head>
<body>
<header th:replace="fragments/common::nav"></header>
<input type="hidden" name="gameId" id="gameId" th:object="${game}" th:value="${game.id}">
<!-- for JS and REST - right after header -->
<!-- todo: check if th:object here is OK  th:object="${game}"  -->
<main th:object="${game}">
    <!-- TODO: check position For REST controller -->
    <!-- hero game-details-section -->
    <section class="game-view-section section-format py-5">
        <h1 th:text="*{title}">Game Title</h1>
        <!-- maybe a carousel with screenshots here if time permits -->
        <!--  <figure> -->
        <img alt="Game title image" class="game-title-image"
             th:src="*{titleImageUrl}">
        <!-- </figure> -->
        <!--  <div class="text-container"> -->
        <p class="description-text" th:text="*{description}"> Game description. </p>
        <!-- </div> -->
        <div class="genres-buttons-hr-container">
            <div class="genres-container">
                <p>Genre(s):</p>
                <!--  <th:block th:each="genre : *{genres}"><span th:text="${genre}>Platformer, Puzzle</span></th:block> -->
                <ul class="genres-list">
                    <li th:each="genre : *{genres}" th:text="${genre}"></li>
                </ul>
            </div>
            <!--  TBIL LIKES------------------------------------------->
            <!--   <div class="likes-counter-div" th:text="'Likes: ' + ${comment.likesCounter}">Likes: ${comment.likesCounter}</div> -->

            <hr class="hr-separator">

            <div class="buttons-container">
 <!-- admins only -------------------------------------------------->
                <a class="link-button btn btn-info w-50" id="add-playthrough-btn"
                   sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/games/{gameId}/playthroughs/add/(gameId=*{id})}">Add a playthrough</a>

                <a class="link-button btn btn-info w-50" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/games/{gameId}/edit(gameId=*{id})}">Edit game</a>
                <!-- DELETE GAME th:href="@{/games/{gameId}/delete/(gameId=*{id})}  link fetched with JS todo check if id can be obtained with th:id-->
                <a class="delete-btn delete-game-btn link-button btn btn-info w-50" href="/"
                   sec:authorize="hasRole('ROLE_ADMIN')"
                   th:id="*{id}">Delete game</a> <!-- admins only -->

                <!-- todo: LIKES  <a sec:authorize="isAuthenticated()" id="like*{id}" class="like-btn link-button btn btn-info w-50"></a> -->
              <!--  <button class="link-button btn btn-info w-50" id="like-btn" sec:authorize="isAuthenticated()">Like</button> -->

                <!------------------------------------------------------------------------>
                <a class="link-button btn btn-info w-50" id="playthroughs-btn"
                   th:href="@{/games/{gameId}/playthroughs/all/(gameId=*{id})}">Playthroughs</a>
                <!--  <button id="playthroughs-btn" class="link-button btn btn-info w-50">Playthroughs</button> -->
                <button class="link-button btn btn-info w-50" id="comments-btn">Comments</button>
                <!-- not a href, comments-btn isjust to show/hide the comments section  <a th:href="@{/comments/{gameId}(gameId=*{id})}" id="game-comments-btn"  class="link-button btn btn-info w-50">Comments</a> -->
            </div>
        </div>
    </section>

    <!----------------------------------------------------- Playthroughs or Comments ----------------------------------------------------------------------------------->
    <section ${game} class="comments-section th:object=">
        <!-- TODO change the two sections' style to hidden or '' depending on which button is clicked -->
        <!-- Short on time, don't remember much from JS SAP, never tried to integrate them in Java before, go with separate pages -->
        <!-- playthroughs section TODO: optimization: show/hide Playthroughs/Comments on this page-->

      <div class="comments-heading-container" > <h1>Comments</h1> </div>
        <small id=" comment-errors"></small>
        <!-- Make comment form visible only for authenticated users -->
        <!--  <div sec:authorize="isAuthenticated()">  doesn't change comments not getting saved -->

        <!----------------------------------------------- COMMENTS SUBMISSION FORM---------------------------------------------------->
        <div class="comments-panel">
        <form action="/" id="commentForm" method="POST" sec:authorize="isAuthenticated()">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <!-- changed to # from "/"   action actual path is sniffed by JS through the submit event -->
            <div class="form-group">
                                      <textarea class="form-control"
                                                cols="30"
                                                id="comment"
                                                maxlength="3000"
                                                minlength="10"
                                                name="comment"
                                                required
                                                rows="5">
                                      </textarea>
            </div>
            <section class="form-group">
                <input class="btn link-button btn btn-info w-50"
                       id="postComment"
                       type="submit"
                       value="Leave a comment"/>
            </section>
            <!-- EL1007E: Property or field 'token' cannot be found on null -->
            <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> cannot find prop  -->
        </form>
        <!-- Comments submission -->
        <!--  </div>  auth div -->
        <!-- Trying to fix comments staying invisible for unauthenticated users - everyone should be able to see comments - was missing in antMatchers
        sec:authorize="!isAuthenticated() || isAuthenticated()" -->
        <!-- script inserts comments in #comments-container -->
        <div id="comments-container"></div>
        </div>
    </section>
</main>
<!-- <script th:src="@{/scripts/game.js}"></script> switch between Playthroughs and Comments - show/hide-->
<script th:src="@{/scripts/comments.js}"></script> <!-- for REST controller -->
<script th:src="@{/scripts/delete-confirm.js}"></script> <!-- for delete button functionality -->
</body>

</html>
